<app_descriptor>
    <name><%= @name %></name>
    <description><%= @description %></description>
    <launcher_icon><%= @launcher_icon %></launcher_icon>
    <base_url><%= @base_url%></base_url>
    <main><%= @main_xml %></main>
    <framework>droiuby</framework>
    <assets>
    	<resource name="lib" type="lib"/>
    	<resource name="vendor" type="vendor"/>
    </assets>
</app_descriptor>